# Recreate Chris' experiments XLSX

In [1]:
from pandas import read_excel
experiments = read_excel("../experiments.xlsx")

# define the dimensions of difference
base_media = "93465/1/1"  # !!! provide the appropriate permanent KBase ID
columns = 11; rows = 6
date = "10-05-22"
members = ["ecoli", "pf"]
species_abundances = {1:{"ecoli":0, "pf":1},
          2:{"ecoli":1, "pf":50},
          3:{"ecoli":1, "pf":20},
          4:{"ecoli":1, "pf":10},
          5:{"ecoli":1, "pf":3},
          6:{"ecoli":1, "pf":1},
          7:{"ecoli":3, "pf":1},
          8:{"ecoli":10, "pf":1},
          9:{"ecoli":20, "pf":1},
          10:{"ecoli":1, "pf":0},
          11:{"ecoli":0, "pf":0}
          }

carbon_sources = {'cpd00136':"4HB", 'cpd00179':"malt"}

species_identities_rows = {1:{"ecoli":"mRuby"},
                          2:{"ecoli":"ACS"},
                          3:{"ecoli":"mRuby"},
                          4:{"ecoli":"ACS"},
                          5:{"ecoli":"mRuby"},
                          6:{"ecoli":"ACS"}
                          }

row_concentrations = {'*':{'cpd00179':[5, 0.5]},
                      1:{"cpd00136":[0, 0]},
                      2:{"cpd00136":[0.5, 0.05]},
                      3:{"cpd00136":[1, 0.1]},
                      4:{"cpd00136":[2, 0.2]},
                      5:{"cpd00136":[4, 0.4]},
                      6:{"cpd00136":[8, 0.8]}
                     }

# construct the DataFrame
from pandas import DataFrame #, set_option
constructed_experiments = DataFrame()
experiment_prefix = "Y"
constructed_experiments["short_code"] = [f"{experiment_prefix}{x+1}" for x in experiments.index]
constructed_experiments["base_media"] = [base_media]*(columns*rows)

## define the strains column
strains, additional_compounds, experiment_ids = [], [], []
trial_name_conversion = {}
count = 1
for row in range(1, rows+1):
    trial_letter = chr(ord("A")+row)
    composition = {}
    row_conc = []
    if '*' in row_concentrations:
        for met in row_concentrations['*']:
            row_conc.append(':'.join([met, str(row_concentrations['*'][met][0]), str(row_concentrations['*'][met][1])]))
    if row in row_concentrations:
        for met in row_concentrations[row]:
            if row_concentrations[row][met][0] > 0:
                row_conc.append(':'.join([met, str(row_concentrations[row][met][0]), str(row_concentrations[row][met][1])]))
    row_concentration = ';'.join(row_conc)
    for col in range(1, columns+1):
        additional_compounds.append(row_concentration)
        experiment_id = []
        for member in members:
            composition[member] = [member, f"r{species_abundances[col][member]}"]
            if member in species_identities_rows[row]:
                composition[member][0] += f"_{species_identities_rows[row][member]}"
            if int(composition[member][1][1:]) != 0:
                experiment_id.append(f"{composition[member][1]}_{composition[member][0]}")
            composition[member] = ':'.join(composition[member])
        strains.append(';'.join(composition[member] for member in members))
        for r in row_conc:
            met, init, end = r.split(':')
            experiment_id.append(f"{init}_{carbon_sources[met]}")
        experiment_id = '-'.join(experiment_id)
        experiment_ids.append(experiment_id)
        trial_name_conversion[trial_letter+str(col+1)] = [experiment_prefix+str(count), experiment_id]
        count +=1

constructed_experiments["additional_compounds"] = additional_compounds
constructed_experiments["strains"] = strains
constructed_experiments.insert(0,"experiment_ids", experiment_ids) 
constructed_experiments["date"] = [date]*(columns*rows)
# set_option('display.max_rows', None)
display(constructed_experiments)
# constructed_experiments.to_csv("experimental_metadata.csv")

,experiment_ids,short_code,base_media,additional_compounds,strains,date
0,r1_pf-5_malt,Y1,93465/1/1,cpd00179:5:0.5,ecoli_mRuby:r0;pf:r1,10-05-22
1,r1_ecoli_mRuby-r50_pf-5_malt,Y2,93465/1/1,cpd00179:5:0.5,ecoli_mRuby:r1;pf:r50,10-05-22
2,r1_ecoli_mRuby-r20_pf-5_malt,Y3,93465/1/1,cpd00179:5:0.5,ecoli_mRuby:r1;pf:r20,10-05-22
3,r1_ecoli_mRuby-r10_pf-5_malt,Y4,93465/1/1,cpd00179:5:0.5,ecoli_mRuby:r1;pf:r10,10-05-22
4,r1_ecoli_mRuby-r3_pf-5_malt,Y5,93465/1/1,cpd00179:5:0.5,ecoli_mRuby:r1;pf:r3,10-05-22
...,...,...,...,...,...,...
61,r3_ecoli_ACS-r1_pf-5_malt-8_4HB,Y62,93465/1/1,cpd00179:5:0.5;cpd00136:8:0.8,ecoli_ACS:r3;pf:r1,10-05-22
62,r10_ecoli_ACS-r1_pf-5_malt-8_4HB,Y63,93465/1/1,cpd00179:5:0.5;cpd00136:8:0.8,ecoli_ACS:r10;pf:r1,10-05-22
63,r20_ecoli_ACS-r1_pf-5_malt-8_4HB,Y64,93465/1/1,cpd00179:5:0.5;cpd00136:8:0.8,ecoli_ACS:r20;pf:r1,10-05-22
64,r1_ecoli_ACS-5_malt-8_4HB,Y65,93465/1/1,cpd00179:5:0.5;cpd00136:8:0.8,ecoli_ACS:r1;pf:r0,10-05-22
65,5_malt-8_4HB,Y66,93465/1/1,cpd00179:5:0.5;cpd00136:8:0.8,ecoli_ACS:r0;pf:r0,10-05-22

In [2]:
import json
with open("trial_conversions.json", 'w') as out:
    json.dump(trial_name_conversion, out, indent=3)

# Chris' growth_data XLSX

In [3]:
from pandas import ExcelFile

def isnumber(string):
    try:
        float(string)
    except:
        return False
    return True

dataframes = {}
raw_data = ExcelFile("../../Jeffs_data/PF-EC 4-29-22 ratios and 4HB changes.xlsx")
worksheets = {"Raw OD(590)": "OD", "mNeonGreen": "pf", "mRuby": "ecoli"}
for org_sheet, name in worksheets.items():
    sheet = org_sheet.replace(' ', '_')
    dataframes[sheet] = raw_data.parse(org_sheet)
    dataframes[sheet].columns = dataframes[sheet].iloc[6]
    dataframes[sheet] = dataframes[sheet].drop(dataframes[sheet].index[:7])

numerical_columns = []
dfs = {}
for sheet, df in dataframes.items():
    times, values, experiments_list, short_codes = [], [], [], [] 
    for trial in set(df["Well"]):
        for index, row in df[df["Well"] == trial].iterrows():
            if not numerical_columns:
                numerical_columns = [x for x in row.index if isnumber(x)]
            if row["Cycle #"] == "Time (s)":
                times.extend([row[x] for x in numerical_columns])
                experiments_list.extend([trial_name_conversion[trial][1]]*len(numerical_columns))  # arbitrarily placed in one conditional block to prevent doubling the contents
                short_codes.extend([trial_name_conversion[trial][0]]*len(numerical_columns))  # arbitrarily placed in one conditional block to prevent doubling the contents
            if row["Cycle #"] == "Result":
                values.extend([row[x] for x in numerical_columns])
                
    dfs[sheet] = DataFrame({"Time (s)":times, "values":values, "strain": [sheet]*len(short_codes), "experiment_IDs":experiments_list, "short_codes": short_codes})
    dfs[sheet].index = dfs[sheet]["short_codes"]
    del dfs[sheet]["short_codes"]
    # dfs[sheet].to_csv(sheet+".csv")

In [4]:
for sheet, df in dfs.items():
    display(df)

,Time (s),values,strain,experiment_IDs
short_codes,,,,
Y36,26.956,0.068350,Raw_OD(590),r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36,622.063,0.070741,Raw_OD(590),r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36,1213.947,0.068737,Raw_OD(590),r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36,1806.411,0.067231,Raw_OD(590),r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36,2398.902,0.068352,Raw_OD(590),r1_ecoli_ACS-r20_pf-5_malt-2_4HB
...,...,...,...,...
Y39,95416.715,1.147774,Raw_OD(590),r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39,96009.777,1.152197,Raw_OD(590),r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39,96601.652,1.147517,Raw_OD(590),r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39,97194.304,1.150661,Raw_OD(590),r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39,97786.813,1.146222,Raw_OD(590),r1_ecoli_ACS-r1_pf-5_malt-2_4HB

              Time (s)    values      strain                    experiment_IDs
short_codes
Y36              8.625   23599.0  mNeonGreen  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36            605.277   23527.0  mNeonGreen  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           1197.152   23317.0  mNeonGreen  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           1789.625   23002.0  mNeonGreen  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           2382.116   23072.0  mNeonGreen  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
...                ...       ...         ...                               ...
Y39          95399.652  178785.0  mNeonGreen   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          95992.714  180879.0  mNeonGreen   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          96584.545  180758.0  mNeonGreen   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          97177.170  180538.0  mNeonGreen   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          97769.696  180800.0  mNeonGreen   r1_ecoli_ACS-r1_pf-5_malt-2_4HB

[10956 rows x 4 columns]

              Time (s)    values strain                    experiment_IDs
short_codes
Y36              8.625     692.0  mRuby  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36            605.294     717.0  mRuby  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           1197.161     658.0  mRuby  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           1789.678     736.0  mRuby  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
Y36           2382.134     711.0  mRuby  r1_ecoli_ACS-r20_pf-5_malt-2_4HB
...                ...       ...    ...                               ...
Y39          95399.794  273846.0  mRuby   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          95999.991  270150.0  mRuby   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          96591.375  272358.0  mRuby   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          97177.893  271182.0  mRuby   r1_ecoli_ACS-r1_pf-5_malt-2_4HB
Y39          97776.777  271288.0  mRuby   r1_ecoli_ACS-r1_pf-5_malt-2_4HB

[10956 rows x 4 columns]

# Test standardize()

In [5]:
# define the environment path 
import os
local_cobrakbase_path = os.path.join('C:', 'Users', 'Andrew Freiburger','Documents','Argonne','cobrakbase')
os.environ["HOME"] = local_cobrakbase_path

# import the models
import cobrakbase
with open("C:/Users/Andrew Freiburger/Documents/Argonne/kbase_token.txt") as token_file:
    kbase_api = cobrakbase.KBaseAPI(token_file.readline())

C:\Users\Andrew Freiburger\AppData\Local\Programs\Python\Python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

cobrakbase 0.2.8

In [6]:
%run ../datastandardization.py
growth_data_path="../../Jeffs_data/PF-EC 4-29-22 ratios and 4HB changes.xlsx"
constructed_experiments, growth_df, trial_name_conversion, data_timestep_hr, simulation_timestep = DataStandardization.process_jeffs_data(
    base_media=kbase_api.get_from_ws("93465/19/1"),
    community_members = {
        kbase_api.get_from_ws("iML1515",76994): {
            'name': 'ecoli', 
            'phenotypes': {#'acetate': kbase_api.get_from_ws('93465/13/1'), 
                        'malt': {"cpd00179":[-1,-1]} #kbase_api.get_from_ws("93465/23/1")} #'93465/9/1')}   # !!! The phenotype name must align with the experimental IDs for the graphs to find the appropriate data
            }
        },
        kbase_api.get_from_ws("iSB1139.kb.gf",30650): {
            'name': 'pf',
            'phenotypes': {'acetate': {"cpd00029":[-1,-1]}, # kbase_api.get_from_ws("93465/25/1"), #'93465/11/1'), 
                        '4HB': {"cpd00136":[-1,-1]} # kbase_api.get_from_ws('	93465/27/1')} #93465/15/1')}
            }
        }
    },
    signal_csv_paths = {'path':growth_data_path, 'Raw OD(590)':'OD', 'mNeonGreen':'pf', 'mRuby':'ecoli'},
    species_abundances = {
        1:{"ecoli":0, "pf":1},
        2:{"ecoli":1, "pf":50},
        3:{"ecoli":1, "pf":20},
        4:{"ecoli":1, "pf":10},
        5:{"ecoli":1, "pf":3},
        6:{"ecoli":1, "pf":1},
        7:{"ecoli":3, "pf":1},
        8:{"ecoli":10, "pf":1},
        9:{"ecoli":20, "pf":1},
        10:{"ecoli":1, "pf":0},
        11:{"ecoli":0, "pf":0}
      },
    carbon_conc_series = {'rows': {
        'cpd00136': {'B':0, 'C': 0, 'D': 1, 'E': 1, 'F': 4, 'G': 4},
        'cpd00179': {'B':5, 'C': 5, 'D':5, 'E': 5, 'F': 5, 'G': 5},
    }},
    ignore_trials = {'rows': ['C', 'D', 'E', 'F', 'G'], 'columns': [1,2,3,5,6,7,8,9,10,11,12]},
    ignore_timesteps=None,
    species_identities_rows = {
        1:{"ecoli":"mRuby"},
        2:{"ecoli":"ACS"},
        3:{"ecoli":"mRuby"},
        4:{"ecoli":"ACS"},
        5:{"ecoli":"mRuby"},
        6:{"ecoli":"ACS"}
    },
    growth_data_path=growth_data_path
)
display(constructed_experiments)

C:\Users\Andrew Freiburger\AppData\Local\Programs\Python\Python39\lib\site-packages\cobra\medium\minimal_medium.py:112: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  medium = pd.Series()
C:\Users\Andrew Freiburger\AppData\Local\Programs\Python\Python39\lib\site-packages\cobra\medium\minimal_medium.py:112: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  medium = pd.Series()

The ['B2', 'B3', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'G10', 'G11', 'G12'] trials were dropped from the OD measurements.
The ['B2', 'B3', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'G10', 'G11', 'G12'] trials were dropped from the pf measurements.
The ['B2', 'B3', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'G10', 'G11', 'G12'] trials were dropped from the ecoli measurements.
cpd00179:5:5
cpd00179:5:5
cpd00136:1:1;cpd00179:5:5
cpd00136:1:1;cpd00179:5:5
cpd00136:4:4;cpd00179:5:5
cpd00136:4:4;cpd00179:5:5

,trial_IDs,short_code,base_media,additional_compounds,strains,date
0,r1_pf-5_ecoli,A1,93465/19/1,cpd00179:5:5,ecoli_mRuby:r0;pf:r1,29-4-22
1,r1_ecoli_mRuby-r50_pf-5_ecoli,A2,93465/19/1,cpd00179:5:5,ecoli_mRuby:r1;pf:r50,29-4-22
2,r1_ecoli_mRuby-r20_pf-5_ecoli,A3,93465/19/1,cpd00179:5:5,ecoli_mRuby:r1;pf:r20,29-4-22
3,r1_ecoli_mRuby-r10_pf-5_ecoli,A4,93465/19/1,cpd00179:5:5,ecoli_mRuby:r1;pf:r10,29-4-22
4,r1_ecoli_mRuby-r3_pf-5_ecoli,A5,93465/19/1,cpd00179:5:5,ecoli_mRuby:r1;pf:r3,29-4-22
...,...,...,...,...,...,...
61,r3_ecoli_ACS-r1_pf-4_pf-5_ecoli,A62,93465/19/1,cpd00136:4:4;cpd00179:5:5,ecoli_ACS:r3;pf:r1,29-4-22
62,r10_ecoli_ACS-r1_pf-4_pf-5_ecoli,A63,93465/19/1,cpd00136:4:4;cpd00179:5:5,ecoli_ACS:r10;pf:r1,29-4-22
63,r20_ecoli_ACS-r1_pf-4_pf-5_ecoli,A64,93465/19/1,cpd00136:4:4;cpd00179:5:5,ecoli_ACS:r20;pf:r1,29-4-22
64,r1_ecoli_ACS-4_pf-5_ecoli,A65,93465/19/1,cpd00136:4:4;cpd00179:5:5,ecoli_ACS:r1;pf:r0,29-4-22
65,4_pf-5_ecoli,A66,93465/19/1,cpd00136:4:4;cpd00179:5:5,ecoli_ACS:r0;pf:r0,29-4-22

In [7]:
# for df in growth_dfs.values():
display(growth_df)

,trial_IDs,Time (s),Raw_OD(590),mNeonGreen,mRuby
short_codes,,,,,
A36,r1_ecoli_ACS-r20_pf-1_pf-5_ecoli,14.735333,0.068350,23599.0,692.0
A36,r1_ecoli_ACS-r20_pf-1_pf-5_ecoli,610.878000,0.070741,23527.0,717.0
A36,r1_ecoli_ACS-r20_pf-1_pf-5_ecoli,1202.753333,0.068737,23317.0,658.0
A36,r1_ecoli_ACS-r20_pf-1_pf-5_ecoli,1795.238000,0.067231,23002.0,736.0
A36,r1_ecoli_ACS-r20_pf-1_pf-5_ecoli,2387.717333,0.068352,23072.0,711.0
...,...,...,...,...,...
A39,r1_ecoli_ACS-r1_pf-1_pf-5_ecoli,95405.387000,1.147774,178785.0,273846.0
A39,r1_ecoli_ACS-r1_pf-1_pf-5_ecoli,96000.827333,1.152197,180879.0,270150.0
A39,r1_ecoli_ACS-r1_pf-1_pf-5_ecoli,96592.524000,1.147517,180758.0,272358.0
A39,r1_ecoli_ACS-r1_pf-1_pf-5_ecoli,97183.122333,1.150661,180538.0,271182.0
A39,r1_ecoli_ACS-r1_pf-1_pf-5_ecoli,97777.762000,1.146222,180800.0,271288.0

# test the standardized CommFitting

In [ ]:
carbon_conc = {
    "cpd00136": {},
    "cpd00179": {}
}